:root {
    --bg-color: #100736;
    --card-color: #837fb8;
}

.homepage {
    font-family:'Courier New', Courier, monospace;
    color:#ecede8;
    font-size: medium;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
}

#homeCards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 916px;
    width: calc(100% - 20px);
}

.homeCard {
    border-radius: 10px;
    cursor: pointer;
    height: 250px;
    width: 441px;
    position: relative;
}

.homeCard:hover::before {
    opacity: 1;
}

#homeCards:hover>.homeCard>.homeCard-border {
    opacity: 1;
}

.homeCard::before,
.homeCard>.homeCard-border {
    opacity: 0;
    transition: opacity 500ms;
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;
}

.homeCard::before {
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.06),
            transparent 40%);
    z-index: 3;
}

.homeCard>.homeCard-border {
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.3),
            transparent 40%);
    z-index: 1;
}

.homeCard>.homeCard-content {
    border-radius: inherit;
    inset: 1px;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    z-index: 2;
    position: absolute;
    text-align: center;
}

.homeCardTitle {
    font-weight: lighter;
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #ecede8;
    text-shadow: 1px 1px 2px black;
}

.fa {
    color: #ecede8;
    font-size: 500%;
    padding-top: 50px;
    text-shadow: 1px 1px 2px black;
}

.gradient-bg {
    background-image: linear-gradient(to right top, #100736, #ad92f7,#420080, #54278b, #100736);
}

.gradient-button {
    background-image: linear-gradient(to right top, #100736,#ad92f7,  #100736);
}