/* body {
    background-color: #1E1E1E;
    color: #F0F0F0;
} */

/* Ali Code */

*   {
    margin: 0;
    padding: 0;
}
body  {
    background-color: #ffffff;
}

svg path  {
    fill:#696969;
    stroke: #000000;
    stroke-width: 1.5;
}

svg path:hover  {
    fill: #E12CE1;
    transition: 0.2s;
    cursor: pointer;
}

.homepage{
    align-items: center;
    background-color: var(--bg-color);
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
}

.event {
    margin-bottom: 5px;
    font-size: medium;
}

.loginpage{
    background-color: var(--bg-color);
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
}

#homeCards{
    display:flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 916px;
    width: calc(100% - 20px);
}

.homeCard{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    cursor: pointer;
    height: 260px;
    width: 451px;
    position: relative;
}

.homeCard:hover::before {
    opacity: 1;
}

#homeCards:hover > .homeCard > .homeCard-border{
    opacity:1;
}

.homeCard::before, .homeCard > .homeCard-border {
    opacity: 0;
    transition: opacity 500ms;
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;
}

.homeCard::before{
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.06),
        transparent 40%
    );
    z-index: 3;
}

.homeCard > .homeCard-border {
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.3),
        transparent 40%
    );
    z-index: 1;
}

.homeCard > .homeCard-content {
    background-color: var(--homeCard-color);
    border-radius: inherit;
    inset: 1px;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    z-index: 2;
    position: absolute;
    text-align: center;
}

.homeCardTitle{
    position: absolute;
    width: 100%;
    bottom:0;
    color: white;
}

.fa{
    color: white;
    font-size: 500%;
    padding-top: 50px;
}

.column {
    float: left;
    width: 50%;
}

.searchbar{
    float: right;
}

.gradient-bg {
    background-image: linear-gradient(to right top, #3a2450, #44255f, #4e266f, #5a267e, #66248d, #67208e, #671c8f, #681790, #5c1184, #500a77, #45046b, #3a005f);
}

