.event {
    margin-bottom: 5px;
    font-size: medium;
}

.loginpage{
    background-color: var(--bg-color);
    font-family:'Courier New', Courier, monospace;
    color:#ecede8;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
}

.column {
    float: left;
    width: 50%;
}

.searchbar{
    float: right;
}

.gradient-bg {
    background-image: linear-gradient(to right top, #100736,#ad92f7, #420080, #54278b, #100736);
}

.mt-6 {
    margin-top: 7rem;
}

.repo{
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid black;
}
