.event {
    margin-bottom: 5px;
    font-size: medium;
}

.loginpage{
    background-color: var(--bg-color);
    font-family:'Courier New', Courier, monospace;
    color:#ecede8;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
}

.column {
    float: left;
    width: 50%;
}

.searchbar{
    float: right;
}

.gradient-bg {
    background-image: linear-gradient(to right top, #100736,#ad92f7, #420080, #54278b, #100736);
}

.mt-6 {
    margin-top: 7rem;
}

.repo{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 5px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.18);
}
